flask==3.1.2
blinker==1.9.0
bottleneck==1.4.2
category-encoders==2.8.1
click==8.3.0
colorama==0.4.6
dotenv==0.9.9
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
markupsafe==3.0.3
numpy==2.3.3
packaging==25.0
pandas==2.3.3
patsy==1.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-tzdata==2025.2
pytz==2025.2
scikit-learn==1.7.2
scipy==1.16.2
setuptools==80.9.0
six==1.17.0
statsmodels==0.14.5
threadpoolctl==3.5.0
Werkzeug==3.1.3
wheel==0.45.1
xgboost==3.0.1
