flask
blinker
bottleneck
category-encoders
click
colorama
dotenv
itsdangerous
Jinja2
joblib
markupsafe
numpy
packaging
pandas
patsy
python-dateutil
python-dotenv
pytz
scikit-learn
scipy
setuptools
six
statsmodels
threadpoolctl
Werkzeug
wheel
xgboost
gunicorn